<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/ol.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <script type="text/javascript" src="../js/ajaxrequestasync.js"></script>
    <script type="text/javascript" src="../js/ajaxrequestsync.js"></script>
    <script type="text/javascript" src="../js/config.js"></script>
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/ol.js"></script>
    <script src="../js/map.js"></script>
    <link rel="stylesheet" href="../css/element.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/vue.min.js"></script>
    <script src="../js/element.js"></script>
    <script src="../js/component.js"></script>
    <link rel="stylesheet" href="../css/showMap.css">
</head>
<body>
<div id="app" class="fullScreen" ref="clientScreen">
    <float-component v-if="floatDialog" :data="floatCompData.items.table" :suffix="floatCompData.suffix" id="floatDialog" class="float_dialog" :style="{top:floatCompData.top+'px',left:floatCompData.left+'px'}"></float-component>
    <div id="title" class="title_center">{{title}}</div>
    <div id="map" class="fullScreen" ref="mymap"></div>
    <div class="show_right" title="显示设置" @click="drawer = true"><i class="el-icon-info"></i></div>
    <el-drawer title="显示设置明细" :visible.sync="drawer" :before-close="handleClose" :size="size">
        <el-row style="text-align: left;font-weight: bold;font-size: 18px;cursor: pointer;">
            <el-col :span="24">
                <div @click="choiceModelClick"><icon class="el-icon-connection" style="color: rgb(51, 122, 183);"></icon>&nbsp;&nbsp;{{choiceModelName}}</div>
            </el-col>
        </el-row>
        <div v-show="!modelDataChoice">
            <el-row>
                <div @click="choiceModelClick">
                    <el-col :span="24">
                        <table class="table table-bordered" id="datamodeltable"  style="table-layout: fixed;word-break: break-all;text-align: center">
                            <thead>
                            <tr><td width="15%">序号</td><td style="display: none">ID</td><td>名称</td></tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in models" v-cloak  @click="dealModelData(item,$event)" style="cursor: pointer">
                                <td>{{index+1}}</td>
                                <td style="display: none">{{item.ID}}</td>
                                <td>{{item.CN_NAME}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </el-col>
                </div>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <el-pagination @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pageSize" :prev-text="prevText" :next-text="nextText" layout="prev,next,jumper" :total="totalCount"></el-pagination>
                </el-col>
            </el-row>
        </div>
        <div v-show="modelDataChoice">
            <el-collapse v-model="activeNames">
                <el-collapse-item name="1">
                    <template slot="title">
                        <div class="collapse-title">散点</div>
                    </template>
                    <div class="show_table_button"><el-button @click="showClick('1')">显示</el-button></div>
                    <el-table ref="multipleTable" :data="marksHeadData" @selection-change="handleSelectionChange" tooltip-effect="dark" border style="width: 100%" size="mini" max-height="350">
                        <el-table-column type="selection" width="55"></el-table-column>
                        <el-table-column label="名称" width="220">
                            <template slot-scope="scope">{{ scope.row.MODEL_RELATION_NAME }}</template>
                        </el-table-column>
                        <el-table-column label="条件过滤">
                            <template slot-scope="scope">
                                <el-button @click="addFilterClick(scope.row,'1')" type="text" size="small">设置</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-collapse-item>
                <el-collapse-item name="2">
                    <template slot="title">
                        <div class="collapse-title">热力</div>
                    </template>
                    <div class="show_table_button"><el-button @click="showClick('2')">显示</el-button></div>
                    <el-table  size='medium' :data="hotMapData" border style="width:100%;margin-bottom:20px;">
                        <el-table-column label="选择" width="55">
                            <template slot-scope="scope">
                                <el-radio :label="scope.row.MODEL_RELATION_ID" v-model="hotMapRadio" @change.native="getCurrentRow(scope)">&nbsp;</el-radio>
                            </template>
                        </el-table-column>
                        <el-table-column label="名称" width="220">
                            <template slot-scope="scope">{{ scope.row.MODEL_RELATION_NAME }}</template>
                        </el-table-column>
                        <el-table-column label="条件过滤">
                            <template slot-scope="scope">
                                <el-button @click="addFilterClick(scope.row,'3')" type="text" size="small">设置</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-collapse-item>
                <el-collapse-item name="3">
                    <template slot="title">
                        <div class="collapse-title">标注</div>
                    </template>
                    <div class="show_table_button"><el-button @click="showClick('3')">显示</el-button></div>
                    <el-table ref="multipleTable3" highlight-current-row :data="lableMapData" @selection-change="handleSelectionLableChange" tooltip-effect="dark" border style="width: 100%" size="mini" max-height="350">
                        <el-table-column type="selection" width="55"></el-table-column>
                        <el-table-column label="名称" width="220">
                            <template slot-scope="scope">{{ scope.row.MODEL_RELATION_NAME }}</template>
                        </el-table-column>
                        <el-table-column label="条件过滤">
                            <template slot-scope="scope">
                                <el-button @click="addFilterClick(scope.row,'3')" type="text" size="small">设置</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-collapse-item>
            </el-collapse>
        </div>
    </el-drawer>
    <div class="bottom_right">
        <div v-for="item in showBottomRight">
            <el-row v-if="item.isImg" style="margin-top: 5px;">
                <el-col :span="1">&nbsp;</el-col>
                <el-col :span="3" style="min-width: 40px;"><img :src="item.imgUrl"/></el-col>
                <el-col :span="18"><div class="div_middle">{{item.showName}}</div></el-col>
            </el-row>
            <el-row v-else style="margin-top: 5px;">
                <el-col :span="1">&nbsp;</el-col>
                <el-col :span="3" style="min-width: 40px;"><div class="div_circle" :style="{backgroundColor:item.imageColor}"></div></el-col>
                <el-col :span="18"><div class="div_middle">{{item.showName}}</div></el-col>
            </el-row>
         </div>
        <div v-else></div>
    </div>
    <div class="caroule_marks_right" :style="{bottom:carouleMarksHeight+'px'}">
        <div v-for="item in carouselNames" class="caroule_marks_middel">{{item.carouselName}}</div>
    </div>
</div>
<script type="text/javascript">
var mapVue=  new Vue({
        el: '#app',
        data:{
            clientScreenWidth:0,
            clientScreenHeight:0,
            carouleMarksHeight:0,
            size:'20%',
            drawer: false,
//            marks:[],
            styleInfo:'',
            multipleMarksSelection:[],
            multipleLableSelection:[],
            title:'',
            showBottomRight:[],
            timer:'',
            loopHeatMap:'',
            isCarousel:false,
            carouselNames:[],

            activeNames: ['1'],
            marksHeadData:[],
            hotMapData:[],
            heatModelRelation:'',
            lableMapData:[],

            hotMapRadio:'',

            modelDataChoice:false,
            choiceModelName:'请选择数据模型',
            models:[],
            choiceModelData:'',
            currentPage: 1,
            pageSize: 5,
            totalCount: 0,
            prevText: '上一页',
            nextText: '下一页',
            floatDialog:false,
//            floatDialogTop:0,
//            floatDialogLeft:0,
            floatCompData:{
                suffix:true,
                top:0,
                left:0,
                items:{
                    table:[]
                }
            },
//            floatDialogData:[],
            allFloatDialogData:''
        },
        mounted(){
            this.loadGisData('POST',configpre.map_getMapByPkey,{ID:"7f32a61e89344a1bb798"});
            this.getHeight();
            this.loadModel('POST',configpre.api_loadGisModels,{pageSize: this.pageSize, pageNo: 1});
        },
        methods:{
            getHeight:function(){
                this.clientScreenWidth = this.$refs.clientScreen.offsetWidth;
                this.clientScreenHeight = this.$refs.clientScreen.offsetHeight;
                this.carouleMarksHeight = this.clientScreenHeight/2;
                debugger;
                let width = this.$refs.mymap.offsetWidth;
                //384为1920宽的20%大小,且为抽屉效果的最小宽度
                let percent = 384/width;
                console.info(width+','+percent);
                if(percent>0.2){
                    this.size=parseInt(percent*100)+'%';
                }
            },
            handleClose:function(done) {
                done();
            },
            rquestParams:function(method,api,data){
                var jsonDataList={
                    httpMethod:method,
                    url:api,
                    data:data?JSON.stringify(data):''
                };
                return jsonDataList;
            },
            loadGisData:function(method,api,data){
                var me = this;
                var jsonDataList = this.rquestParams(method,api,data);
                ajaxrequestasync(jsonDataList,function(code,msg,json){
                    if(code=='200'){
                        var body = json.body;
                        var baseInfo = JSON.parse(body.BASE_INFO);
                        var styleInfo = JSON.parse(body.STYLE_INFO);
                        me.styleInfo = styleInfo;
                        me.title = body.MAP_NAME;
                        var cfgs = baseInfo;
                        for(var p in styleInfo){cfgs[p] = styleInfo[p];}
                        initMap(cfgs);
                    }
                });
            },
            loadModelRelationData:function(method,api,data){
                var me = this;
                var jsonDataList = this.rquestParams(method,api,data);
                ajaxrequestasync(jsonDataList,function(code,msg,json){
                    if(code=='200' && json.body){
                        me.marksHeadData = json.body.markList||[];
                        me.hotMapData = json.body.hotMapList||[];
                        me.lableMapData=json.body.lableList||[];
                        me.carouselMapData = json.body.carouselList||[];
                    }
                });
            },
            toggleSelection:function(){
                cleanMarks();
                this.$refs.multipleTable.clearSelection();
            },
            handleSelectionChange:function(val){
                this.multipleMarksSelection = val;
            },
            handleSelectionLableChange:function(val){
                this.multipleLableSelection = val;
            },

            /**
             * msg：提示信息
             * type：消息类型：success：成功；error：错误；warning：警告；
             * */
            myMessage:function(msg,type) {
                this.$message({
                    message: msg,
                    type: type
                });
            },
            loadTableData:function(method,api,data,type){
                let me = this;
                let jsonDataList = this.rquestParams(method,api,data);
                ajaxrequestasync(jsonDataList,function(code,msg,json){
                    if(code=='200' && json.body){
                        let body = json.body;
                        me.showData(body,type);
                        me.drawer =false;
                    }else{
                        me.myMessage('数据异常','error');
                    }
                });
            },
            /**
             * 显示地图数据
             * @param body
             * @param type
             */
            showData:function(body,type){
                switch(type){
                    case '1':
                        this.carourselData(body);
                        break;
                    case '2':
                        this.carourselHeatMap(body)
                        break;
                    case '3':
                        this.cleanMapData();
                        body.forEach(item=>{
                            let cfgs={};
                            let datas = item.data;
                            datas.forEach(data=>{
                                cfgs = data.style;
                                if(typeof(cfgs)=='string'){
                                    cfgs = JSON.parse(data.style);
                                }
                                let coords = eval(data.COORDS);
                                cfgs['lng']=coords[0];
                                cfgs['lat']=coords[1];
                                cfgs['text']=data.ADDRESS;
                                addMarksV2(cfgs);
                            });
                        });
                        break;
                    case '4':
                        this.carourselData(body);
                    default:break;
                }
            },
            carourselData:function(body){
                this.cleanMapData();
                if(!body){
                    return;
                }
                this.allFloatDialogData=[];
                if(body.length){
                    body.forEach(item=>{
                        let cfgs;
                        let datas = item.data;
                        datas.forEach(data=>{
                            cfgs = data.style;
                            if(typeof(cfgs)=='string'){
                                cfgs = JSON.parse(cfgs);
                            }
                            cfgs.radius=data.VAL;
                            cfgs.text=data.VAL;
                            let coords = eval(data.COORDS);
                            cfgs['lng']=coords[0];
                            cfgs['lat']=coords[1];
                            addMarksV2(cfgs);
                        });
                    });
                    return;
                }
                if(!body.data || body.data.length==0){
                    return;
                }

                let bodyData = body.data;
                let carouselNames = body.names||[];
                let group=[];
                for(let p in bodyData){
                    group.push(p);
                }
                let i=0;
                this.timer = setInterval(carourselFn,1000);
                function carourselFn(){
                    cleanMarks(true);
                    mapVue.carouselNames=[];
                    let el = group[i];
                    carouselNames.forEach(item=>{
                        let cfgs = {
                            carouselName:el+item
                        }
                        mapVue.carouselNames.push(cfgs);
                    });
                    let data = bodyData[el]||[];
                    data.forEach(item=>{
                        let itemData = item.data;
                        let cfgs = {};
                        itemData.forEach(sItem=>{
                            cfgs = sItem.style;
                            if(typeof(sItem.style)=='string'){
                                cfgs = JSON.parse(cfgs);
                            }
                            let coords = eval(sItem.COORDS);
                            cfgs['lng']=coords[0];
                            cfgs['lat']=coords[1];
                            cfgs['text']=''+sItem.VAL;
                            cfgs.radius=sItem.VAL;
                            addCarouselMarks(cfgs);
                        });
                    });
                    if(i==group.length-1){
                        i=0;
                    }else{
                        i++
                    }
                }
            },
            carourselHeatMap:function(body){
                this.cleanMapData();
                let style = body.style;
                if(typeof(style) == "string"){
                    style = JSON.parse(body.style);
                }
                if(style.carouselColType && style.carouselColType=='1'){
                    let dataIndex=0;
                    this.loopHeatMap = setInterval(loopShowHotMapFn,1000);
                    function loopShowHotMapFn(){
                        let heatDatas = body.heatData;
                        showHotMap(heatDatas[dataIndex]);
                        mapVue.carouselNames=[];
                        mapVue.carouselNames.push({carouselName:heatDatas[dataIndex].text+heatDatas[dataIndex].carouselCol});
                        dataIndex++;
                        if(dataIndex==heatDatas.length){
                            dataIndex=0;
                        }
                    }
                }else{
                    loopShowHotMap(body.heatData);
                }
            },
            cleanMapData:function(){
                cleanMarks();
                cleanMarks(true);
                this.cleanLoopHearMap();
                this.closeCarourse();
            },
            cleanLoopHearMap:function(){
                if(this.loopHeatMap){
                    clearInterval(this.loopHeatMap);
                    this.loopHeatMap = undefined;
                }
                removeHotMap();
            },
            closeCarourse:function(){
                clearInterval(this.timer);
                this.timer = undefined;
            },

            closeCarourse:function(){
                clearInterval(this.timer);
                this.timer = undefined;
            },
            choiceModelClick:function(){
                if(this.choiceModelData==''){
                    this.myMessage('请选择数据模型','warnning');
                    return;
                }
                this.modelDataChoice = !this.modelDataChoice;
            },
            handleCurrentChange(val) {
                this.loadModel('POST',configpre.api_loadModels,{pageSize: this.pageSize, pageNo: val || 1});
            },
            dealModelData: function (item, event) {
                this.choiceModelData = item;
                if (event) {
                    var el = event.currentTarget;
                    $('#datamodeltable tr').removeClass('row_background');
                    $(el).addClass('row_background');
                }
                this.choiceModelName = '已选中模型:'+item.CN_NAME;
                let data = {
                    tableName:item.EN_NAME
                }
                this.loadModelRelationData('POST',configpre.map_loadModelRelation,data);
            },
            loadModel:function(method,api,data){
                const me = this;
                let jsonDataList = this.rquestParams(method,api,data);
                ajaxrequestasync(jsonDataList,function(code,msg,json){
                    if(code=='200'){
                        me.models =json.body || [];
                        me.totalCount = json.totalCount;
                    }
                });
            },
            addFilterClick:function(row,type){
                this.myMessage('暂未实现，敬请期待','warnning');
            },
            getCurrentRow(scope) {
                this.hotMapRadio=scope.row.MODEL_RELATION_ID;
                this.heatModelRelation = scope.row;
                //this.rowObj = scope.row
            },
            showClick:function(type){
                let params = {modelRelation:[]};
                let apiPath = configpre.map_queryTableDataByGisModelRelationV2;
                this.allFloatDialogData=[];
                switch (type){
                    case '1':
                        params.modelRelation = this.multipleMarksSelection;
                        break;
                    case '2':
                        params.modelRelation.push(this.heatModelRelation);
                        apiPath = configpre.map_queryHeatMapDataByGisModelRelation;
                        break;
                    case '3':
                        params.modelRelation = this.multipleLableSelection;
                        this.loadDialogDataByRelation(this.multipleLableSelection[0]);
                        break;
                }
                if(this.checkCarousel(params.modelRelation)){
                    params['isCarousel'] = true;
                }
                this.loadTableData('POST',apiPath,params,type);
            },
            loadDialogDataByRelation:function(row){
                let data = {
                    DATA_MODEL_ID:row.MODEL_ID,
                    TABLE_NAME:row.TABLE_NAME,
                    COORDS:row.RELATION_DIM_COOR
                }
                const me = this;
                let jsonDataList = this.rquestParams('POST',configpre.map_loadFloatDialogByRelation,data);
                ajaxrequestasync(jsonDataList,function(code,msg,json){
                    if(code=='200'){
                        me.allFloatDialogData = json.body ||'';
                    }
                });
            },
            checkCarousel:function(modelRelations){
                debugger;
                this.showBottomRight=[];
                this.carouselNames=[];
                let isCarousel = true;
                for(let i=0,len=modelRelations.length;i<len;i++){
                    let modelStyleData = modelRelations[i].MODEL_STYLE_DATA;
                    if(typeof(modelStyleData) == "string"){
                        modelStyleData = JSON.parse(modelRelations[i].MODEL_STYLE_DATA);
                    }
                    if(isCarousel && typeof(modelStyleData.carouselColType)!='undefined' && modelStyleData.carouselColType=='0'){
                        isCarousel = false;
                    }
                    let cfgs = {};
                    cfgs['showName'] = modelRelations[i].MODEL_RELATION_NAME;
                    let style = JSON.parse(modelRelations[i].MODEL_STYLE_DATA);
                    let iconStatus = style.iconStatus=='1'?true:false;
                    cfgs['isImg'] = iconStatus;
                    if(iconStatus){
                        cfgs['imgUrl'] = configpre.webGisPath+'static/icon/'+style.iconName+'.'+style.iconType;
                    }else{
                        cfgs['imageColor'] = style.imageColor;
                    }
                    this.showBottomRight.push(cfgs);
                }
                return isCarousel;
            }
        }
    });
</script>
</body>
</html>