@font-face {
  font-family: 'fontcloudhis';
  src:  url('fonts/fontcloudhis.eot?i19um5');
  src:  url('fonts/fontcloudhis.eot?i19um5#iefix') format('embedded-opentype'),
    url('fonts/fontcloudhis.ttf?i19um5') format('truetype'),
    url('fonts/fontcloudhis.woff?i19um5') format('woff'),
    url('fonts/fontcloudhis.svg?i19um5#fontcloudhis') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontcloudhis' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-khxx:before {
  content: "\e900";
}
.icon-cxqs:before {
  content: "\e901";
}
.icon-zt:before {
  content: "\e902";
}
.icon-ztwh:before {
  content: "\e903";
}
.icon-bdfy:before {
  content: "\e904";
}
.icon-bc:before {
  content: "\e905";
}
.icon-bxjh:before {
  content: "\e906";
}
.icon-bgck:before {
  content: "\e907";
}
.icon-bglr:before {
  content: "\e908";
}
.icon-bq:before {
  content: "\e909";
}
.icon-bl:before {
  content: "\e90a";
}
.icon-blck:before {
  content: "\e90b";
}
.icon-bljg:before {
  content: "\e90c";
}
.icon-blmb-menu:before {
  content: "\e90d";
}
.icon-blmb:before {
  content: "\e90e";
}
.icon-bh:before {
  content: "\e90f";
}
.icon-bm:before {
  content: "\e910";
}
.icon-bmwh:before {
  content: "\e911";
}
.icon-cwys:before {
  content: "\e912";
}
.icon-cgrk:before {
  content: "\e913";
}
.icon-cswh:before {
  content: "\e914";
}
.icon-ck:before {
  content: "\e915";
}
.icon-cx:before {
  content: "\e916";
}
.icon-cyzd:before {
  content: "\e917";
}
.icon-ckfs:before {
  content: "\e918";
}
.icon-csjz:before {
  content: "\e919";
}
.icon-dy:before {
  content: "\e91a";
}
.icon-djbd:before {
  content: "\e91b";
}
.icon-dahb:before {
  content: "\e91c";
}
.icon-dc:before {
  content: "\e91d";
}
.icon-dr:before {
  content: "\e91e";
}
.icon-fy:before {
  content: "\e91f";
}
.icon-fycx:before {
  content: "\e920";
}
.icon-fy2:before {
  content: "\e921";
}
.icon-fycx2:before {
  content: "\e922";
}
.icon-fylb:before {
  content: "\e923";
}
.icon-ff:before {
  content: "\e924";
}
.icon-fwxm:before {
  content: "\e925";
}
.icon-fkfs:before {
  content: "\e926";
}
.icon-fz:before {
  content: "\e927";
}
.icon-gjcx:before {
  content: "\e928";
}
.icon-gztj:before {
  content: "\e929";
}
.icon-gnwh:before {
  content: "\e92a";
}
.icon-ghdw:before {
  content: "\e92b";
}
.icon-gh:before {
  content: "\e92c";
}
.icon-ghgl:before {
  content: "\e92d";
}
.icon-hzxx:before {
  content: "\e92e";
}
.icon-hzjz:before {
  content: "\e92f";
}
.icon-hyfa:before {
  content: "\e930";
}
.icon-hysh:before {
  content: "\e931";
}
.icon-hytj:before {
  content: "\e932";
}
.icon-hbwc:before {
  content: "\e933";
}
.icon-jgwh:before {
  content: "\e934";
}
.icon-jcsz:before {
  content: "\e935";
}
.icon-jbbm:before {
  content: "\e936";
}
.icon-jkfw:before {
  content: "\e937";
}
.icon-jswh:before {
  content: "\e938";
}
.icon-jzlb:before {
  content: "\e939";
}
.icon-js:before {
  content: "\e93a";
}
.icon-js2:before {
  content: "\e93b";
}
.icon-jysj:before {
  content: "\e93c";
}
.icon-jzcx:before {
  content: "\e93d";
}
.icon-khfw:before {
  content: "\e93e";
}
.icon-kcgl:before {
  content: "\e93f";
}
.icon-kfsz:before {
  content: "\e940";
}
.icon-mzfy:before {
  content: "\e941";
}
.icon-mzpb:before {
  content: "\e942";
}
.icon-mzrj:before {
  content: "\e943";
}
.icon-mzsf:before {
  content: "\e944";
}
.icon-mzyz:before {
  content: "\e945";
}
.icon-mzzl:before {
  content: "\e946";
}
.icon-pb:before {
  content: "\e947";
}
.icon-pbmb:before {
  content: "\e948";
}
.icon-pbzy:before {
  content: "\e949";
}
.icon-px:before {
  content: "\e94a";
}
.icon-pd:before {
  content: "\e94b";
}
.icon-pdcl:before {
  content: "\e94c";
}
.icon-pyrsz:before {
  content: "\e94d";
}
.icon-pzgn:before {
  content: "\e94e";
}
.icon-plbj:before {
  content: "\e94f";
}
.icon-pscl:before {
  content: "\e950";
}
.icon-pjgl:before {
  content: "\e951";
}
.icon-qtck:before {
  content: "\e952";
}
.icon-qtrk:before {
  content: "\e953";
}
.icon-qy:before {
  content: "\e954";
}
.icon-qc:before {
  content: "\e955";
}
.icon-qx:before {
  content: "\e956";
}
.icon-qxfy:before {
  content: "\e957";
}
.icon-qbfy:before {
  content: "\e958";
}
.icon-ry:before {
  content: "\e959";
}
.icon-rywh:before {
  content: "\e95a";
}
.icon-rl:before {
  content: "\e95b";
}
.icon-rkfs:before {
  content: "\e95c";
}
.icon-sc:before {
  content: "\e95d";
}
.icon-sch:before {
  content: "\e95e";
}
.icon-sh:before {
  content: "\e95f";
}
.icon-sccj:before {
  content: "\e960";
}
.icon-sypc:before {
  content: "\e961";
}
.icon-ssqb:before {
  content: "\e962";
}
.icon-sy:before {
  content: "\e963";
}
.icon-sx:before {
  content: "\e964";
}
.icon-sfgl:before {
  content: "\e965";
}
.icon-tj:before {
  content: "\e966";
}
.icon-tj2:before {
  content: "\e967";
}
.icon-tjcx:before {
  content: "\e968";
}
.icon-tjdj:before {
  content: "\e969";
}
.icon-tjxj:before {
  content: "\e96a";
}
.icon-tjzx:before {
  content: "\e96b";
}
.icon-tjfl:before {
  content: "\e96c";
}
.icon-tmdy:before {
  content: "\e96d";
}
.icon-dlscf:before {
  content: "\e96e";
}
.icon-dr2:before {
  content: "\e96f";
}
.icon-tz:before {
  content: "\e970";
}
.icon-tz2:before {
  content: "\e971";
}
.icon-tjfx:before {
  content: "\e972";
}
.icon-tf:before {
  content: "\e973";
}
.icon-th:before {
  content: "\e974";
}
.icon-ty:before {
  content: "\e975";
}
.icon-wjbz:before {
  content: "\e976";
}
.icon-xtgl:before {
  content: "\e977";
}
.icon-xj:before {
  content: "\e978";
}
.icon-xzh:before {
  content: "\e979";
}
.icon-xg:before {
  content: "\e97a";
}
.icon-ypjx:before {
  content: "\e97b";
}
.icon-ypsl:before {
  content: "\e97c";
}
.icon-yptz:before {
  content: "\e97d";
}
.icon-yptj:before {
  content: "\e97e";
}
.icon-ypyf:before {
  content: "\e97f";
}
.icon-ypyj:before {
  content: "\e980";
}
.icon-ypzd:before {
  content: "\e981";
}
.icon-yjcx:before {
  content: "\e982";
}
.icon-yjqd:before {
  content: "\e983";
}
.icon-yjzx-menu:before {
  content: "\e984";
}
.icon-yjzx:before {
  content: "\e985";
}
.icon-ylfw:before {
  content: "\e986";
}
.icon-ylqx:before {
  content: "\e987";
}
.icon-yz:before {
  content: "\e988";
}
.icon-yzlx:before {
  content: "\e989";
}
.icon-yzqs:before {
  content: "\e98a";
}
.icon-yhzc:before {
  content: "\e98b";
}
.icon-yz2:before {
  content: "\e98c";
}
.icon-yj:before {
  content: "\e98d";
}
.icon-yygl:before {
  content: "\e98e";
}
.icon-zg:before {
  content: "\e98f";
}
.icon-zkqb:before {
  content: "\e990";
}
.icon-zlxm:before {
  content: "\e991";
}
.icon-zffs:before {
  content: "\e992";
}
.icon-zyddy:before {
  content: "\e993";
}
.icon-cdpj:before {
  content: "\e994";
}
.icon-cz:before {
  content: "\e995";
}
.icon-zdwh:before {
  content: "\e996";
}
